.circle {
    width: 124px;
    height: 124px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin: 0 auto;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 107.5px solid transparent;
    border-right: 107.5px solid transparent;
    border-top: 215px solid #d9d9d9;
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rectangle {
    width: 392px;
    height: 200px;
    background-color: #d9d9d9;
    position: relative;
    margin: 0 auto;
    border-radius: 8px;
}

.textBoxWrapper {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 10;
}

.inputSection {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    z-index: 20;
}

.movableInput {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nextBtn {
    background-color: #ffb168;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
}

.confirmSection {
    position: relative;
    width: 100%;
    height: 100%;
}

.choiceWrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
    width: 80%;
}

.countBtn {
    display: block;
    margin: 24px auto 0 auto;
    font-size: 24px;
    background-color: #d9d9d9;
    border-radius: 0%;
}

.completeSection {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 10;
}
