.inputWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textArea {
    width: 90%;
    height: 3rem;
    background-color: #FFB168;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 6px;
    resize: none;
    text-align: center;
}
