.inputWrap {
    display: grid;
    position: relative;
    
    .label {
        text-align: start;
    }
    .input {
        width: 100%;
        height: 20px;
        border: 1px solid #C7C7C7;
        border-radius: 16px;
        padding-left: .5rem;
    }    
    .eyeImg {
        position: absolute;
        right: 0;
        bottom: 4px;
    }
}